---
Checks:                '*,-fuchsia-default-arguments,-fuchsia-default-arguments-calls,-fuchsia-overloaded-operator,-fuchsia-trailing-return,-llvm-header-guard'
WarningsAsErrors:      ''
HeaderFilterRegex:     'src/.*hh'
AnalyzeTemporaryDtors: false
FormatStyle:           none
CheckOptions:
...
