---
Checks:          '*,-fuchsia-default-arguments,-fuchsia-overloaded-operator,-llvm-header-guard'
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*hh'
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:    
...
