[submodule "external/sparse-map"]
	path = external/sparse-map
	url = https://github.com/Tessil/sparse-map.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/lmdbxx"]
	path = external/lmdbxx
	url = https://github.com/hoytech/lmdbxx.git
